@{
    ViewData["Title"] = "Privacy Policy";
    
}

    <form >
  <div class="form-group">
        <label for="usr">id:</label>
        <input type="text" class="form-control" id="id" required>
        </div>
        <div class="form-group">
        <label for="usr" >Name:</label>
        <input type="text" class="form-control" id="name" required>
        </div>
        <div class="form-group">
        <label for="usr">Mobile:</label>
        <input type="text" class="form-control" id="mobile" required>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
</form>

